@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Inter Var';
    font-weight: 100 900;
    font-display: block;
    font-style: normal;
    font-named-instance: 'Regular';
    src: url('/public/assets/fonts/Inter/inter-roman.var.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Inter Var';
    font-weight: 100 900;
    font-display: block;
    font-style: italic;
    font-named-instance: 'Italic';
    src: url('/public/assets/fonts/Inter/inter-italic.var.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Mackinac';
    src: url('/public/assets/fonts/Mackinac/mackinac-bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: block;
  }

  html {
    font-family: 'Inter Var', sans-serif;
    font-weight: 500;
  }
  .shapes-bg {
    @apply p-0 m-0 w-full h-[100dvh];
    background: url('/public/assets/images/background.webp') no-repeat center fixed;
    background-size: cover;
  }

  body {
    @apply box-border p-0 m-0 shapes-bg standalone:select-none selection:bg-white selection:text-accent_2;
  }

  main.landing {
    @apply p-0 m-0 h-[100dvh] w-full items-center bg-dark text-light;
  }

  .hero {
    background: url('/public/assets/images/shapes.webp') no-repeat center fixed;
    background-size: cover;
    background-blend-mode: overlay;
  }

  .dashboard {
    @apply p-0 m-0 w-screen h-[100dvh];
    background: url('/public/assets/images/background.webp') no-repeat center fixed;
    background-size: cover;
  }

  .p22 {
    font-family: 'Mackinac', sans-serif;
  }

  .inter {
    font-family: 'Inter Var', sans-serif;
  }

  .shadow-outline {
    @apply drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.2)];
  }

  img {
    @apply standalone:pointer-events-none standalone:selection:bg-transparent;
  }

  .tooltip {
    @apply absolute transition-all ease-in-out origin-top-right scale-0;
  }

  .has-tooltip:hover .tooltip {
    @apply z-50 scale-100;
  }
}
